* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

a {
    text-decoration: none;
}

/* regole header */

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* regole menu navigazione header */
header nav {
    min-height: 40px;
    padding: 10px 0;
}

#container-nav {
    width: 60%;
    min-height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}

#container-nav img {
    width: 100px;
}

/* regole link centrali header */
#container-nav ul {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul a,
.login {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

nav ul {
    list-style-type: none;
}

.label {
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    color: black;
}

/* regole sezione principale header */
header section {
    min-height: 300px;
    padding: 90px 0;
}

#container-logo {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    height: 250px;
}

#container-logo h1 {
    font-size: 50px;
    margin-bottom: 35px;
}

#container-logo p {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 30px;
}

#container-buttons-header {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.browser {
    font-size: 16px;
    font-weight: 550;
}

.browser i {
    font-size: 15px;
    font-weight: 900;
    margin-right: 5px;
}

#open {
    background-color: black;
    color: white;
}






/* regole corpo centrale */
.white {
    background-color: white;
    display: flex;
    justify-content: center;
    /* DEBUG */
    min-height: 350px;
    padding: 100px 0;
}

.space-image img {
    width: 80%;
    /* DEBUG */
    /* background-color: rgb(30, 144, 255);
    border: 2px dotted black; */
}

.space-text {
    width: 20%;
    /* height: 300px; */
    /* DEBUG */
    /* background-color: rgb(255, 192, 203);
    border: 2px dotted black; */
}

.space-text h2 {
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
}

.space-text p {
    font-size: 15px;
    line-height: 150%;
}


.grey {
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    /* DEBUG */
    min-height: 350px;
    padding: 25px 0;
}

.final-grey {
    background-color: rgb(211, 211, 211);
    /* DEBUG */
    min-height: 500px;
    padding: 25px 0;
}

.download {
    width: 60%;
    height: 450px;
    /* DEBUG */
    background-color: rgb(34, 139, 34);
    border: 2px dotted black;
    margin: 0 auto;
}





/* regole footer */
#footer-menu {
    background-color: rgb(35, 39, 42);
    height: 350px;
    border-bottom: 1px solid white;
    padding-top: 10px;
    padding-bottom: 20px;
}

#table-footer {
    display: flex;
    justify-content: center;
}

#icons-footer {
    width: 20%;
    height: 320px;
    /* DEBUG */
    background-color: rgb(240, 128, 128);
    border: 2px dotted black;
}

.col-footer {
    width: calc(40% / 4);
    height: 320px;
    background-color: rgb(32, 178, 170);
    border: 2px dotted white;
}

#footer-logo {
    background-color: rgb(35, 39, 42);
    height: 50px;
    padding-top: 15px;
}

#link-footer {
    width: 60%;
    height: 35px;
    background-color: rgb(127, 255, 212);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    font-size: 12px;
    background-color: rgb(255, 189, 200);
    padding: 2px 5px;
    border: 1px dotted black;
}