* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

a {
    text-decoration: none;
}

/* regole header */

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* regole menu navigazione header */
header nav {
    min-height: 40px;
    padding: 10px 0;
}

#container-nav {
    width: 60%;
    min-height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}

#container-nav img {
    width: 100px;
}

/* regole link centrali header */
#container-nav ul {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul a,
.login {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

nav ul {
    list-style-type: none;
}

.label {
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    color: black;
}

/* regole sezione principale header */
header section {
    min-height: 300px;
    padding: 90px 0;
}

#container-logo {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    height: 250px;
}

#container-logo h1 {
    font-size: 50px;
    margin-bottom: 35px;
}

#container-logo p {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 30px;
}

#container-buttons-header {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.browser {
    font-size: 16px;
    font-weight: 550;
}

.browser i {
    font-size: 15px;
    font-weight: 900;
    margin-right: 5px;
}

#open {
    background-color: black;
    color: white;
}

/* regole corpo centrale */
.background {
    padding: 100px 0;
}

.white {
    background-color: white;
}

.grey {
    background-color: rgb(211, 211, 211);
}

.container {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.main {
    justify-content: space-between;
}

.space-image {
    width: 60%;
}

.space-image img {
    width: 600px;
}

.space-text {
    width: 30%;
    padding-top: 20px;
}

main h2 {
    font-size: 40px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
}

main p {
    font-size: 15px;
    line-height: 150%;
}

.final {
    flex-direction: column;
    text-align: center;
}

h3 {
    font-size: 25px;
    font-weight: 600;
}

.final h3 {
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
    color: black;
    background-image: url(../img/stars.svg);
    background-size: contain;
}

#final-download {
    background-color: blueviolet;
    width: 20%;
    color: white;
    align-self: center;
    margin-top: 30px;
}

/* regole footer */
#footer-menu {
    background-color: rgb(35, 39, 42);
    padding-top: 10px;
    padding-bottom: 20px;
}

#table-footer {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

#icons-footer {
    width: 20%;
    padding-right: 40px;
}

#icons-footer h3 {
    color: blueviolet;  
    margin-bottom: 20px; 
}

.container-language {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container-language img {
    width: 20px;
}

.text-footer {
    font-size: 11px;
    color: white;
}

.container-icons {
    display: flex;
    gap: 20px;
}

#icons-footer i {
    font-size: 15px;
    color: white;
    margin-top: 15px;
}



.col-footer {
    width: calc(40% / 4);
}

.col-footer strong {
    font-size: 13px;
    color: blueviolet;
}

.col-footer ul {
    list-style-type: none;
}

#footer-logo {
    background-color: rgb(35, 39, 42);
    height: 50px;
    padding-top: 15px;
}

#link-footer {
    width: 60%;
    height: 35px;
    background-color: rgb(127, 255, 212);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    font-size: 12px;
    background-color: rgb(255, 189, 200);
    padding: 2px 5px;
    border: 1px dotted black;
}